* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Darker Grotesque", sans-serif;
  font-size: 12px;
}

.flex__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: lightskyblue;
  border-radius: 1em;
  margin: 25px;
  padding: 1em;
  align-content: center;
  box-shadow: 0 0 15px lightskyblue;
  border: 1px solid #fff;
}

.form,
.form_img {
  min-width: 180px;
  padding: 10px;
  text-align: center;
  flex: 1;
}

h1 {
  width: 100%;
  color: #fff;
  font-size: 80px;
  text-align: center;
}

.form__section input {
  width: 100%;
  font-size: 2em;
  padding: 0.3em;
  margin: 10px 0;
  border-radius: 10px;
  border: none;
}

.form__section textarea {
  width: 100%;
  font-size: 2em;
  padding: 0.3em;
  margin: 10px 0;
  border-radius: 10px;
  border: none;
  min-height: 150px;
}

.form__section button {
  width: 100%;
  font-size: 2em;
  padding: 0.3em;
  margin: 10px 0;
  border-radius: 10px;
  border: 2px solid #5da7db;
  background: #5da7db;
  color: #fff;
  font-weight: 600;
}

.form__section input:focus,
.form__section textarea:focus {
  outline: 3px solid #5da7db;
}

.form__section button:hover {
  color: #fff;
  background: lightskyblue;
  border: 2px solid #fff;
  font-weight: 600;
}

.form_img {
  /* align-self: center;     */
  display: flex;
  justify-content: center;
  align-items: center;
  /* overflow: hidden;  */
}

.form_img img {
  min-width: 150px;
  height: 380px;
  border-radius: 10px;
}

@media only screen and (max-width: 767px) {
    .form_img img {        
        height: auto;
      }
}