<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Mis Estilos -->
    <link rel="stylesheet" href="../Css/flex.css">
    <!-- Fin Mis Estilos -->

    <!-- Fuentes Google  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&display=swap&family=Darker+Grotesque:wght@300&display=swap&family=Cormorant:wght@300&family=Indie+Flower&display=swap&family=Marck+Script&display=swap&family=Megrim&display=swap&family=Monoton&display=swap&family=Montserrat+Alternates:wght@100&display=swap&family=Nixie+One&display=swap&family=Noto+Sans+Wancho&display=swap&family=Nunito:wght@200&display=swap&family=Questrial&display=swap&family=Rock+Salt&display=swap&family=Sacramento&display=swap&family=Silkscreen&display=swap&family=Urbanist:wght@100&display=swap"
        rel="stylesheet">    
    <!--Fin Fuentes Google  -->
    
    <!-- Iconos Font Awaitsome -->
    <script src="https://kit.fontawesome.com/47f4546242.js" crossorigin="anonymous"></script>
    <!-- Fin Iconos Font Awaitsome -->
    
    <title>Document</title>
</head>
<body>
    <div class="flex-container">
        <div class="flex-items primera">primera</div>
        <div class="flex-items">caja1</div>
        <!-- <div class="flex-items">caja2</div>
        <div class="flex-items">caja3</div>
        <div class="flex-items">caja4</div>
        <div class="flex-items">caja5</div> -->
        <div class="flex-items ultima">ultima</div>

    </div>
</body>
</html>