<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Fuentes Google  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&display=swap&family=Darker+Grotesque:wght@300&display=swap&family=Cormorant:wght@300&family=Indie+Flower&display=swap&family=Marck+Script&display=swap&family=Megrim&display=swap&family=Monoton&display=swap&family=Montserrat+Alternates:wght@100&display=swap&family=Nixie+One&display=swap&family=Noto+Sans+Wancho&display=swap&family=Nunito:wght@200&display=swap&family=Questrial&display=swap&family=Rock+Salt&display=swap&family=Sacramento&display=swap&family=Silkscreen&display=swap&family=Urbanist:wght@100&display=swap"
        rel="stylesheet">    
    <!--Fin Fuentes Google  -->

      <!-- Iconos Font Awaitsome -->
      <script src="https://kit.fontawesome.com/47f4546242.js" crossorigin="anonymous"></script>
      <!-- Fin Iconos Font Awaitsome -->

    <!-- Mis Estilos -->
    <link type="text/css" href="../Css/miagenes.css" rel="stylesheet" />
    <!-- Fin Mis Estilos -->

    <title>Imagenes</title>
</head>

<body>
    <nav class="conteiner-nav">
        <div class="content-nav logo">
         
        </div>
        <div class="content-nav nav">
            <div>contactanos</div>
            <div>contactanos</div>
            <div>contactanos</div>
            <div>contactanos</div>
            <div>contactanos</div>
        </div>
        <div class="content-nav redes">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-tiktok"></i>
        </div>
    </nav>
    <div class="img-fondo">
    </div>
    <br>
    <hr />
    <div class="content-img-btn">
        <a href="./cajas.html" class="btn-siguiente">Siguiente</a>
        <a href="./index.html" class="btn-anterior">Anterior</a>
    </div>
    <hr />
    <div class="texto-p">        
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti omnis sunt debitis ex voluptate
        necessitatibus cum facilis nulla quasi quod! Quia eligendi dolorum blanditiis quo quisquam aperiam dolores,
        at ipsum!
        <img alt="sagitario" src="../img/sagitario.jpg" />
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti omnis sunt debitis ex voluptate
        necessitatibus cum facilis nulla quasi quod! Quia eligendi dolorum blanditiis quo quisquam aperiam dolores,
        at ipsum!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem repudiandae dolorem perspiciatis iure vero,
        dignissimos neque? Alias nemo, assumenda debitis deleniti cumque totam eaque minima deserunt quidem? Veniam,
        voluptatum maiores.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Non assumenda maxime rem ad? Modi quisquam atque
        tenetur incidunt porro voluptates dolores provident enim alias, commodi sint neque quas excepturi veritatis.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam ratione consequuntur, sed iste quod
        temporibus voluptas cumque dolorem corrupti officiis possimus explicabo labore eaque quae omnis totam ipsa
        minima molestias?
        <input type="text" placeholder="Escribe Aqui" class="input">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo assumenda, et quia in praesentium vero
        dignissimos! Assumenda minima cumque error ipsum nam? Officia nostrum velit, doloremque ratione ex tenetur
        similique.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus obcaecati reprehenderit ea quo quasi.
        Pariatur quos totam ea voluptates modi excepturi, aliquam atque sint accusantium, consequatur culpa
        laudantium deserunt non!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, odio hic est aperiam obcaecati maxime
        veritatis officia impedit dignissimos ad neque sed. Pariatur voluptas expedita esse debitis tenetur nisi
        quis!
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti omnis sunt debitis ex voluptate
        necessitatibus cum facilis nulla quasi quod! Quia eligendi dolorum blanditiis quo quisquam aperiam dolores,
        at ipsum!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem repudiandae dolorem perspiciatis iure vero,
        dignissimos neque? Alias nemo, assumenda debitis deleniti cumque totam eaque minima deserunt quidem? Veniam,
        voluptatum maiores.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Non assumenda maxime rem ad? Modi quisquam atque
        tenetur incidunt porro voluptates dolores provident enim alias, commodi sint neque quas excepturi veritatis.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam ratione consequuntur, sed iste quod
        temporibus voluptas cumque dolorem corrupti officiis possimus explicabo labore eaque quae omnis totam ipsa
        minima molestias?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo assumenda, et quia in praesentium vero
        dignissimos! Assumenda minima cumque error ipsum nam? Officia nostrum velit, doloremque ratione ex tenetur
        similique.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus obcaecati reprehenderit ea quo quasi.
        Pariatur quos totam ea voluptates modi excepturi, aliquam atque sint accusantium, consequatur culpa
        laudantium deserunt non!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, odio hic est aperiam obcaecati maxime
        veritatis officia impedit dignissimos ad neque sed. Pariatur voluptas expedita esse debitis tenetur nisi
        quis!
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti omnis sunt debitis ex voluptate
        necessitatibus cum facilis nulla quasi quod! Quia eligendi dolorum blanditiis quo quisquam aperiam dolores,
        at ipsum!           
    </div>

</body>

</html>