<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Mis Estilos -->
    <link type="text/css" href="../Css/estilos.css" rel="stylesheet" />
    <!-- Fin Mis Estilos -->

    <!-- Fuentes Google  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&display=swap&family=Darker+Grotesque:wght@300&display=swap&family=Cormorant:wght@300&family=Indie+Flower&display=swap&family=Marck+Script&display=swap&family=Megrim&display=swap&family=Monoton&display=swap&family=Montserrat+Alternates:wght@100&display=swap&family=Nixie+One&display=swap&family=Noto+Sans+Wancho&display=swap&family=Nunito:wght@200&display=swap&family=Questrial&display=swap&family=Rock+Salt&display=swap&family=Sacramento&display=swap&family=Silkscreen&display=swap&family=Urbanist:wght@100&display=swap"
        rel="stylesheet">    
    <!--Fin Fuentes Google  -->
    
    <!-- Iconos Font Awaitsome -->
    <script src="https://kit.fontawesome.com/47f4546242.js" crossorigin="anonymous"></script>
    <!-- Fin Iconos Font Awaitsome -->

    <title>Css</title>
</head>

<body>
    <h1>Fuentes</h1>
    <br />
    <a href="./Imagenes.html" class="btn-siguiente">Siguiente <i class="fa-solid fa-circle-right"></i></a>
    <hr />
    <div class="p-comtainer">
        <p class="text1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam et nemo totam, vero voluptates
            debitis sint labore
            sed officiis repellat quae. Placeat eaque sed cum dicta excepturi enim eveniet at!</p>
        <hr />
        <p class="text2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam et nemo totam, vero voluptates
            debitis sint labore
            sed officiis repellat quae. Placeat eaque sed cum dicta excepturi enim eveniet at!</p>
        <hr />
        <p class="text3">Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Ipsam et nemo totam, vero voluptates
            debitis sint labore
            sed officiis repellat quae. Placeat eaque sed cum dicta excepturi enim eveniet at!</p>
        <hr />
        <p class="text4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam et nemo totam, vero voluptates
            debitis sint labore
            sed officiis repellat quae. Placeat eaque sed cum dicta excepturi enim eveniet at!</p>
        <hr />
        <p class="text5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam et nemo totam, vero voluptates
            debitis sint labore
            sed officiis repellat quae. Placeat eaque sed cum dicta excepturi enim eveniet at!</p>
        <hr />
        <p class="text6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam et nemo totam, vero voluptates
            debitis sint labore
            sed officiis repellat quae. Placeat eaque sed cum dicta excepturi enim eveniet at!</p>
        <hr />
        <p class="text7">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam et nemo totam, vero voluptates
            debitis sint labore
            sed officiis repellat quae. Placeat eaque sed cum dicta excepturi enim eveniet at!</p>
        <hr />
        <p class="text8">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam et nemo totam, vero voluptates
            debitis sint labore
            sed officiis repellat quae. Placeat eaque sed cum dicta excepturi enim eveniet at!</p>
        <hr />
        <p class="text9">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam et nemo totam, vero voluptates
            debitis sint labore
            sed officiis repellat quae. Placeat eaque sed cum dicta excepturi enim eveniet at!</p>
        <hr />
        <p class="text10">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam et nemo totam, vero voluptates
            debitis sint labore
            sed officiis repellat quae. Placeat eaque sed cum dicta excepturi enim eveniet at!</p>
        <hr />
        <p class="text11">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam et nemo totam, vero voluptates
            debitis sint labore
            sed officiis repellat quae. Placeat eaque sed cum dicta excepturi enim eveniet at!</p>
        <hr />
        <p class="text12">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam et nemo totam, vero voluptates
            debitis sint labore
            sed officiis repellat quae. Placeat eaque sed cum dicta excepturi enim eveniet at!</p>
        <hr />
        <p class="text13">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam et nemo totam, vero voluptates
            debitis sint labore
            sed officiis repellat quae. Placeat eaque sed cum dicta excepturi enim eveniet at!</p>
        <hr />
        <p class="text14">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam et nemo totam, vero voluptates
            debitis sint labore
            sed officiis repellat quae. Placeat eaque sed cum dicta excepturi enim eveniet at!</p>
        <hr />
        <p class="text15">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam et nemo totam, vero voluptates
            debitis sint labore
            sed officiis repellat quae. Placeat eaque sed cum dicta excepturi enim eveniet at!</p>
        <hr />
        <p class="text16">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam et nemo totam, vero voluptates
            debitis sint labore
            sed officiis repellat quae. Placeat eaque sed cum dicta excepturi enim eveniet at!</p>
    </div>
</body>

</html>